@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&family=Sixtyfour&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&family=Sixtyfour&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Sixtyfour&display=swap');

.title {
  background-color: darkslategray;
  color: white; /* Define a cor do texto do título */
  padding: 5%; /* Define o espaçamento interno do título */
  text-align: center; /* Centraliza o texto do título */
  font-size: 2,25rem;
  font-family: 'Sixtyfour', sans-serif;
}

.info {
  background-color: lightgray;
  gap: 10px;
  margin-bottom:  3%;
  text-align: center;
  display: block;
}

.text__style {
  margin-bottom: 10%;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}

.text__area {
  border: 2px solid darkslategray;
  display: block;
  height: 200px;
  margin: 0 auto;
  resize: none;
  width: 80%;
  font-size: 1.125rem;
  font-family: 'Playfair Display', sans-serif;
  font-weight: 400;
}

.buttons {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.buttons__style {
  color: #000000;
  cursor: pointer;
  margin: 5px;
  padding: 10px;
  text-align: center;
  font-size: 0.75rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.img__top__secret {
  border: 2px solid darkslategray;
  height: 20%;
  margin: 0 auto;
  overflow: hidden;
  width: 80%;
}

.top__secret {
  object-fit: cover;
  display: flex;
  justify-content: center;
}

.footer {
  padding: 5%;
  text-align: center;
  font-size: 2.25rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  background-color: darkslategray;
  color: white;
}
